<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-container-profile">
<div class="photo"></div>
</div>

<div class="user-profile">
<div class="user-profile-fields">
    <h1>Profile</h1>
    <div class="error">
    <span>error message</span>
    </div>
    <span>User Name</span><br>
    <input type="text" name="username"><br><br>
    <span>Email</span><br>
    <input type="text" name="email"><br><br>
    <span>Employee ID</span><br>
    <input type="text" name="employeeid"><br><br>
    <span>Name</span><br>
    <input type="text" name="name"><br><br>
     <span>Title</span><br>
    <input type="text" name="title"><br>
    <span>Admin</span>
    <input type="checkbox" name="admin"><br><br>
     <span>Phone Number</span><br>
    <input type="text" name="phonenumber"><br><br>
    <span>Photo URL</span><br>
    <input type="text" name="photourl"><br><br>

    <div class="address-non-validated">
    <span>Address Line 1</span><br>
    <input type="text" name="AddressLine1"><br>
    <span>Address Line 2</span><br>
    <input type="text" name="AddressLine2"><br><br>
    <button type="button">Validate</button>
    </div>
    <div class="address-validated"><br>
    <span>Validated Address</span><br>
    <textarea name="validated-address">

      <%= validAddress.ErrorMessage %>
    </textarea><br>
    <button type="button">Save</button>
    </div>
    </div>
</div>

</div>

</body>
</html>
