<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-container-profile">
<h1>Profile</h1>
    <div class="address-non-validated">
    <span>Address Line 1</span><br>
    <input type="text" name="AddressLine1"><br>
    <span>Address Line 2</span><br>
    <input type="text" name="AddressLine2"><br><br>
    <button type="button">Validate</button>
    </div>
    <div class="address-validated"><br>
    <span>Validated Address</span><br>
    <textarea name="validated-address">

      <%= validAddress.ErrorMessage %>
    </textarea><br>
    <button type="button">Save</button>
    </div>
</div>

</body>
</html>
