<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Onboard Signup Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-container-signup">
<div class="sign-up">
<h1>Sign Up</h1>
<div class="user-name">
    <div class="error">
    <span>error message</span>
    </div>
    <span>User Name</span><br>
    <input type="text" name="username"><br>
    <span>Email</span><br>
    <input type="text" name="email"><br><br>
    <span>Password</span><br>
    <input type="password" name="password"><br><br>
    <span>Repeat Password</span><br>
    <input type="password" name="password"><br><br>
    <button type="button">Sign Up</button><br>
    <a href="http://localhost:3000/login">Sign In</a>
</div>
</div>
</div>

</body>
</html>
