body {
  color: white;
}

.onboard {
  color: tomato;
  font-size: 40px;
  padding-left: 50px;
  font-family: 'Lobster', cursive;
  font-size: 65px;
  margin-top: -30px;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

.error {
  color: red;
}

.sign-up {
  margin: auto;
  margin-top: 125px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: orange;
}

.user-profile {
  margin: auto;
  /*margin-top: 125px;*/
  position: relative;
  width: 400px;
  height: 800px;
  background-color: purple;

}

.user-profile-fields {
  margin: auto;
  width: 300px;
}

.sign-in {
  margin: auto;
  margin-top: 125px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: tomato;
}



.flex-container {
  display: -webkit-flex;
  display: flex;

}

.user-name {
  margin: auto;
  width: 200px;
}

.main-container {
  width: 100%;
  height: 100%;
  /*background-color: #faebd7;*/
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/login_background.jpg);
}

#unsplash-images {
  background-size: cover;
  width: 100%;
  height: 840px;
  position: relative;


}

.main-container-signup {
  width: 100%;
  height: 840px;
  background-color: #faebd7;
  position: absolute;
}

.main-container-profile {
  width: 100%;
  height: 1000px;
  background-color: #faebd7;
  position: absolute;

}



.photo {
 width: 300px;
 height:300px;
 background-color: gray;
position: absolute;
}

.admin {

}
